@page
@model IndexModel
@{
    ViewData["Title"] = "Ustawienia konta";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
