<header>
    <h2>Wyzwanie matematyczne w świecie Lyoko</h2>
    <br>
    <p>Celem gry jest odnalezienie jak największej liczby spełniającej reguły dla danego poziomu.</p>
    <p>Po zatwierdzeniu wyniku jest on weryfikowany po stronie serwera, a następnie dodawany do tabeli wyników.</p>
    <p>System obsługuje prostą grę, gdzie rozwiązanie jest jednocześnie wynikiem.</p>
    <p>System ma stworzone funkcje do obsługi gier deterministycznych, możliwe jest odtworzenie "powtórki" danego gracza po naciśnięciu na wiersz w tabeli wyników.</p>
    <br>
    <h3>Zacznij teraz!</h3>
</header>