<header>
    <h2>Witaj w świecie Lyoko!</h2>
    <br>
    <p>Zanurz się w emocjonującą matematyczną grę, która przenosi Cię w uniwersum Lyoko! Czekają na Ciebie wyzwania związane z równaniami, które musisz rozwiązać, aby zdobyć jak najwyższy wynik. W tej grze Twoje umiejętności matematyczne staną się kluczem do sukcesu! Sprawdź, jak wysoko uda Ci się wspiąć w rankingu.</p>
    <p>Wybierz poziom trudności, rozwiąż zadania i przejdź do kolejnych poziomów, zdobywając punkty za każdą poprawną odpowiedź. Każdy sukces przybliża Cię do mistrzowskiego poziomu matematycznego w świecie Lyoko!</p>
    <br>
    <h3>Zacznij teraz!</h3>
</header>